.category__header {
  padding-top: 1rem;
  text-align: center;
  background-color: #d7f4ff;
}

.category__img {
  position: relative;
  bottom: -8px;
  width: 100%;
}

.category__block {
  background-color: get-color('d-blue-2');
  padding-top: 2rem;
  padding-bottom: 3rem;
}