.story-list {
  display: flex;
  flex-flow: column;
  
  &[data-style="1-big"] {
    article:first-child > .story {
      flex-flow: column;

      .story__details {
        padding: get-size('400');
      }
      
    }

    .story {
      gap: initial;

      .story__details {
        padding: get-spacing('300');
        @include media-query('lg') {
          padding: get-spacing('400');
        }
      }
    }
  }

  &[data-style="3-col-grid"] {
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    article {
      flex: 1 45%;
      @include media-query('lg') {
        flex: 0 1 30%;
      }
      .story {
        flex-flow: column;
        .story__details {
          @include apply-utility('pad-top', '200');
          @include apply-utility('pad-right', '400');
          @include apply-utility('pad-bottom', '200');
          @include apply-utility('pad-left', '400');
        }
      }
    }
  }

  &[data-style="listing"] {
    .story {
      .story__image {
        flex: 1.1;
        img {
          object-fit: cover;
        }
      }
      .story__details {
        --flow-space: 0.4rem;
        
        display: flex;
        flex-flow: column;
        justify-content: space-around;

        padding: get-spacing('300');
        
        @include media-query('lg') {
          --flow-space: 1rem;
          @include apply-utility('pad-top', '400');
          @include apply-utility('pad-right', '600');
          @include apply-utility('pad-bottom', '400');
          @include apply-utility('pad-left', '600');
        }
      }
    }
  }
}