.story__tag {

  display: inline-block;
  line-height: 1.1;

  @include apply-utility('pad-top', '200');
  @include apply-utility('pad-right', '400');
  @include apply-utility('pad-bottom', '200');
  @include apply-utility('pad-left', '400');

  &.float {
    display: absolute;
  }
}